USE [Local]
GO
/****** Object:  Table [dbo].[wine]    Script Date: 5/9/2019 5:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wine](
	[type] [nvarchar](50) NOT NULL,
	[alcohol] [float] NOT NULL,
	[malic_acid] [float] NOT NULL,
	[ash] [float] NOT NULL,
	[alcilinity_of_ash] [float] NOT NULL,
	[magnesium] [int] NOT NULL,
	[total_phenols] [float] NOT NULL,
	[flavanoids] [float] NOT NULL,
	[nonflavanoid_phenols] [float] NOT NULL,
	[proanthocyanins] [float] NOT NULL,
	[color_intensity] [float] NOT NULL,
	[hue] [float] NOT NULL,
	[diluted] [float] NOT NULL,
	[proline] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[wine] ([type], [alcohol], [malic_acid], [ash], [alcilinity_of_ash], [magnesium], [total_phenols], [flavanoids], [nonflavanoid_phenols], [proanthocyanins], [color_intensity], [hue], [diluted], [proline]) VALUES (N'1', 13.16, 2.36, 2.67, 18.6, 101, 2.8, 3.24, 0.3, 2.81, 5.68, 1.03, 3.17, 1185)
INSERT [dbo].[wine] ([type], [alcohol], [malic_acid], [ash], [alcilinity_of_ash], [magnesium], [total_phenols], [flavanoids], [nonflavanoid_phenols], [proanthocyanins], [color_intensity], [hue], [diluted], [proline]) VALUES (N'1', 14.37, 1.95, 2.5, 16.8, 113, 3.85, 3.49, 0.24, 2.18, 7.8, 0.86, 3.45, 1480)
INSERT [dbo].[wine] ([type], [alcohol], [malic_acid], [ash], [alcilinity_of_ash], [magnesium], [total_phenols], [flavanoids], [nonflavanoid_phenols], [proanthocyanins], [color_intensity], [hue], [diluted], [proline]) VALUES (N'1', 13.24, 2.59, 2.87, 21, 118, 2.8, 2.69, 0.39, 1.82, 4.32, 1.04, 2.93, 735)
GO
