USE [Local]
GO
/****** Object:  Table [dbo].[iris]    Script Date: 5/9/2019 5:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iris](
	[SepalLength] [float] NOT NULL,
	[SepalWidth] [float] NOT NULL,
	[PetalLength] [float] NOT NULL,
	[PetalWidth] [float] NOT NULL,
	[Label] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[iris] ([SepalLength], [SepalWidth], [PetalLength], [PetalWidth], [Label]) VALUES (4.9, 3, 1.4, 0.2, N'Iris-setosa')
INSERT [dbo].[iris] ([SepalLength], [SepalWidth], [PetalLength], [PetalWidth], [Label]) VALUES (4.7, 3.2, 1.3, 0.2, N'Iris-setosa')
INSERT [dbo].[iris] ([SepalLength], [SepalWidth], [PetalLength], [PetalWidth], [Label]) VALUES (4.6, 3.1, 1.5, 0.2, N'Iris-setosa')
GO
